@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&family=Poppins:wght@300&display=swap');

*,
*::after,
*::before {
    box-sizing: border-box;
}

body {
    font-family: 'Fredoka One', cursive;
    background-color: #041564;
}

.titulo {
    color: white;
    font-size: 38px;
    margin: 20px 0;
    font-family: 'Fredoka One', cursive;
}

.subtitulo {
    color: white;
    font-size: 26px;
    margin: 10px 0;
}

#seleccionar-mascota {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.tarjetas {
    display: flex;
    gap: 20px;
}


.tarjeta-de-mokepone {
    width: 190px;
    height: 120px;
    background-color: #11468f;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    cursor: pointer;
}

.tarjeta-de-mokepone:hover {
    background: linear-gradient(45deg, #3AB0FF, #F87474);
    font-family: 'Poppins', sans-serif;
}


.tarjeta-de-mokepone img {
    width: 100px;
    height: 110px;
}

#boton-mascota, #boton-reiniciar {
    width: 180px;
    height: 40px;
    border-radius: 20px;
    background: transparent;
    color: white;
    border: 2px solid;
    cursor: pointer;
    font-family: 'Poppins', sans-serif;  
    margin-top: 30px;
}

#boton-mascota:hover, #boton-reiniciar:hover {
    background: linear-gradient(45deg, #2fa5f4, #f06666);
    text-transform: uppercase;
    font-family: 'Fredoka One', cursive;
}

input {
    display: none;
}

input:checked + label {
    background: linear-gradient(45deg, #10659e, #ec2121);
}

/* Section de Ataques*/

#seleccionar-ataque {
    /*display: flex; lo esta tomando del javaScript linea 32*/
    flex-direction: column;
    align-items: center;
}

.container-boton-ataques {
    margin: 0 0 25px;
}

.boton-de-ataque {
    background-color: #2d72a6;
    padding: 10px;
    margin-left: 15px;
    color: white;
    border-radius: 20px;
    border-color: transparent;
    width: 70px;
    cursor: pointer;
    font-family: 'Fredoka One', cursive;
}

.boton-de-ataque:active {
    font-family: 'Poppins', sans-serif;
}

#boton-reiniciar {
    margin-bottom: 20px;
}

.box-container-resultado {
    display: flex;
    color: white;
    font-size: 25px;
}

.container-mensajes {
    display: grid;
    margin-top: 50px;
    grid-template-columns: 200px 200px;
    color: white;
    justify-items: center;
}

.box-container {
    display: grid;
    border: 2px solid white;
    border-radius: 20px;
    padding: 20px;
    text-align: center;
}

.container-txt-mascota {
    font-size: 20px;
}

.container-vidas {
    font-size: 20px;
    margin: 15px 0;
    border: 2px solid blue;
    border-radius: 50%; 
}

/* Canvas */
#ver-mapa {
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#ver-mapa button {
    width: 80px;
    height: 40px;
    background-color: #11468f;
    border-radius: 20px;
    margin: 10px;
    color: white;
    cursor: pointer;
}

@media screen and (max-width: 600px) {
    .tarjetas {
        display: flex;
        flex-direction: column;
    }

    .container-vidas {
        font-size: 25px;
        margin: 20px 0; 
    }

    .container-boton-ataques {
        display: flex;
        flex-direction: column;
        margin-bottom: 10px;
    }

    .boton-de-ataque {
        margin: 5px;
    }
}

